/*

		TABELA DE CLASSES.

		Use a pesquisa para encontrar os elementos.

		===================================================================

		|  01. BODY HTML HEADING (H1, H2, ...)                            |
		|  02. HEADER                                                     |
		|  03. DROPDOWN                                                   |
		|  04. NAV / PAG                                                  |
		|  05. ASIDE / SIDEMENU                                           |
		|  06. LISTS                                                      |
		|  07. TOOLTIPS                                                   |
		|  08. PANEL CARD                                                 |
		|  09. ALERTS                                                     |
    |  10. CONTENT                                                    |
    |  11. LABELS                                                     |
		|  12. TEXT                                                       |
		|  13. NAV TABS                                                   |
		|  14. LOGO                                                       |
		|  15. LOGIN-INFO                                                 |
		|  16. SWITCHES                                                   |
		|  17. #PAGE FOOTER              |  page footer                   |
		|  18. #SHORTCUT AREA            |  dropdown shortcuts area       |
		|  19. #PLUGINS                  |  all scripts and plugins       |

		===================================================================

*/

/* BODY HTML HEADING (H1, H2, ...) */
body,
html {
  background-color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  color: #1e252f;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro',sans-serif;
}

h1 {
  letter-spacing: -1px;
  font-size: 24px;
  margin: 10px 0;
}

/*HEADER*/
#header {
    display: block;
    background-color: white;
    height: 49px;
    margin: 0;
    padding: 0 13px 0 0;
    background-repeat: repeat-x;
    position: relative;
    z-index: 905;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#header>:first-child, aside {
    width: 220px;
}
#header>div {
    vertical-align: middle;
    height: 49px;
    float: left;
}
.header-right-nav {
  height: 100%;
}
.header-left-nav{
  display: block;
}
.img-avatar{
  margin: 0 0 5px 5px;
}

/*DROPDOWN*/
.dropdown-icon i,
.dropdown-icon img {
  margin-right: 10px;
}
.dropdown-menu>.active>a{
  background-color:#f5f5f5;
  color: #1990ea;
}
.dropdown-avatar li{
  margin-bottom: 10px;

}

/* NAVIGATION / PAGINATION */
.pager li>a, .pager li>span {
    padding: 5px 25px;
    border-radius: 4px;
}
nav ul {
  width: 100%;
  padding: 40px 28px 25px 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: .5em;
  list-style: none;
  position: relative;
}
nav ul ul {
  margin: 0;
  display: none;
  background: #293744;
  padding: 7px 0;
}
nav ul .active>a {
  color: #fff!important;
  position: relative;
  border-left: 5px solid #c21c35;
  background-color: #253340;
}
nav>ul>li:last-child.open {
  border-bottom: 1px solid rgba(255, 255, 255, .15)
}
nav ul li a{
  line-height: normal;
  font-size: 14px;
  padding: 10px 10px 10px 11px;
  font-weight: 400;
  text-decoration: none!important;
}


/* ASIDE/SIDEMENU */
aside nav ul li a:hover {
    color: #fff;
    text-decoration: none
}
aside nav ul li a:focus {
  color: #c9c9c9
}
aside {
    display: block;
    background: #33414e;
    min-height: 100%
}
aside nav ul li a {
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 11px;
    color: #dedede;
    display: block;
    font-weight: 400;
    text-decoration: none!important;
    position: relative;
    border-left: 5px solid transparent;
}
.sidemenu-divider{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #24323f;
}

/* LISTS */
.ul-unstyled{
  list-style: none
}
.ul-nav-bordered{
  height: 100%;
  font-size: 22px;
  display: inline-flex;
  list-style: none
}
.ul-nav-bordered li {
  height: 100%;
  padding-right: 30px;
  border-right: 1px solid #aaa
}
.ul-nav-bordered i {
  padding-top: 10px;
}
.ul-nav-bordered .badge{
  position: relative;
  top: -13px;
  left: 36px;
  background-color: #f7971c;
}

/* TOOLTIPS */
.tooltip-inner {
  border-radius: 3px;
  background-color: #353c48
}
.tooltip-arrow {
  border-top-color: #353c48 !important;
}
.tooltip-light .tooltip-inner{
  background-color: #e6e6e6;
  color: #1e252f
}
.tooltip-light .tooltip-arrow{
  border-top-color: #e6e6e6 !important;
}

/* PANEL CARD*/
.panel-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-title {
  display: inline-block;
  margin: 10px 0;
  letter-spacing: 0px;
  font-size: 24px;
}

/* ALERTS */
.alert {
  border-width: 0;
  padding: 10px;
  color: white;
}
.alert-success, .label-success {
  background-color: #36af46;
}
.alert-info, .label-info {
  background-color:#1990ea;
}
.alert-danger, .label-danger {
  background-color: #ed1b24;
}
.alert-warning, .label-warning {
  background-color: #f7971c;
}
.alert i{
    opacity: 0.7;
    margin-right: 7px;
    top: 3px;
}

/* CONTENT */
#content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 14px;
  position: relative;
}

/* LABELS */
label{
  color: #858b9c;
}

/* TEXT */
.text-default {
  color: #a9b6c1;
}
.text-success {
  color:#36af46
}
.text-danger {
  color:#ed1b24
}

/* INPUTS */
.input-success {
  border-color:#36af46
}
.input-danger {
  border-color:#ed1b24
}
.input-icon-success{
  float:right;
  position: absolute;
}
.input-right-icon{
  position: relative
}
.input-right-icon .glyphicon, .input-right-icon .fa{
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.input-right-icon input {
  padding-right: 30px;
}
.input-right-icon .glyphicon,
.input-right-icon .fa {
  right: 0px;
}

/* TABLES */
.table-ul-buttons {
    list-style: none;
    display: inline-flex;
}
.table-ul-buttons li {
  margin-right: 10px;
}
.table-icon-buttons i {
  margin-right: 5px;
  font-size: 20px;
  color: #7c90af;
}
.table > th:first-child {
  margin-left: 5px;
}
.img-icon-app {
  border-radius: 10px;
  height: 42px;
  width: 42px;
  float:left;
  margin-right: 10px;
}
.table>thead>tr>th{
  border: none;
}
.tr-checked{
  background-color: #f1f4f8;
}
table .checkbox{
  margin-bottom: 0
}


/* BUTTONS */
.btn-default {
  background-color: #f9fafc;
  border-radius: 3px;
  border: 1px solid #dde0e6;
}
button.close {
    color: inherit;
    text-shadow: none;
    font-weight: 500;
    opacity: 0.5;
}

/* WELL */
.well {
  border-radius: 0;
  border: none;
}

/* NAV TABS */
.nav-tabs.nav-justified {
  border-bottom: 2px solid #DDD;
}
.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:focus,
.nav-tabs.nav-justified > li.active > a:hover {
  border-width: 0;
}
.nav-tabs.nav-justified > li > a {
  border: none; color: #666;
}
.nav-tabs.nav-justified > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px; bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs.nav-justified > li.active > a::after,
.nav-tabs.nav-justified > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.tab-pane {
  padding: 15px 0;
}
.nav-tabs>li.active>a {
    border-top-width: 0!important;
    margin-top: 1px!important;
    font-weight: 700
}

/* LOGO */
#logo img {
    width: 110px;
    height: auto;
    padding-left: 33px;
}
#logo {
  width: 154px;
  margin-top: -17px;
  margin-left: 10px;
}
#logo-group {
  border-right: 1px solid #aaa;
}

/* LOGIN INFO*/
.login-info{
  color: #ededec
}
.login-info img {
    width: 75px;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 16px 5px 0 5px;
}
.login-info ul{
  list-style: none;
  display: inline-flex;
  padding: 5px 0 0 0;
}
.login-info ul li{
  margin-right: 10px;
}
.login-info {
  height: 110px;
}

/* CHECKBOX SWITCHES */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #36af46;
}

input:focus + .slider {
  box-shadow: 0 0 1px #36af46;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* OVERWRITING TEMPLATE CSS */
div#hide-menu {
    position: absolute;
    left: 204px;
    background: #c21c35;
    height: 30px;
    top: 10px;
    border-radius: 50%;
    width: 30px;
}
div#hide-menu i{
    left: 5px;
    position: relative;
    top: 6px;
    font-size: 20px;
    color: white;
}
@media screen and (max-width: 980px) and (max-height: 800px){
  div#hide-menu i {
    left: 7px;
    top: 4px;
  } 
}
@media screen and (max-width: 880px) and (max-height: 800px){
  div#hide-menu i {
    left: 7px;
    top: -2px;
  } 
}
@media screen and (max-width: 870px){
  .header-left-nav{
    display: none;
  }
}