html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(../img/mybg.png) #fff;
    position: relative
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(../img/mybg.png) #fff;
    direction: ltr
}

a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
input::-moz-focus-inner {
    outline: 0
}

.page-title {
    margin: 12px 0 28px
}

.page-title span {
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: 1px
}

label {
    font-weight: 400
}

:focus {
    outline: 0!important
}

a,
button,
input {
    -ms-touch-action: none!important
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    outline: 0;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important
}

.input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 1.5
}

.btn-xs {
    padding: 1px 5px
}

.btn-sm {
    padding: 6px 10px 5px
}

.btn-lg {
    padding: 10px 16px
}

body.container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    box-shadow: 0 2px 70px rgba(0, 0, 0, .45)
}

h1 small {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -1px
}

h2 {
    letter-spacing: -1px;
    font-size: 22px;
    margin: 20px 0;
    line-height: normal
}

h3 {
    display: block;
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0;
    line-height: normal
}

h4 {
    line-height: normal
}

h5 {
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
    line-height: normal
}

h6 {
    font-size: 15px;
    margin: 10px 0;
    font-weight: 700;
    line-height: normal
}

.bordered {
    border: 1px solid rgba(0, 0, 0, .2)
}

.bordered:hover {
    border: 1px solid rgba(0, 0, 0, .4)
}

aside {
    display: block;
    background: #293744;
    min-height: 100%
}

#header>div.open {
    font-weight: 700
}

.fixed-header #header {
    position: fixed;
    width: 100%;
    z-index: 905;
    top: 0;
    border-bottom: 2px solid #999;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-shadow: -11px 12px 23px rgba(0, 0, 0, .1)
}

.fixed-header.fixed-ribbon #header {
    border-bottom: none;
    box-shadow: none
}

.container.fixed-header #header {
    max-width: 1164px
}

.fixed-header #header .ajax-dropdown {
    z-index: 906
}

.fixed-header #shortcut {
    position: fixed
}

.fixed-header #main {
    margin-top: 49px
}

#logo-group>span {
    display: inline-block;
    height: 39px;
    float: left
}

#logo {
    display: inline-block;
    width: 175px;
    margin-top: 13px;
    margin-left: 9px
}

.header-search {
    position: relative
}

.header-search.pull-right {
    margin-left: 6px
}

.header-search>input[type=text] {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 200px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #bfbfbf;
    background: #fff;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 10px;
    line-height: normal
}

.header-search>button {
    background: 0 0;
    border: none;
    color: #6d6a69;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    z-index: 2
}

#search-mobile {
    display: none
}

#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 49px
}

#main {
    margin-left: 220px;
    padding: 0;
    padding-bottom: 52px;
    min-height: 500px;
    position: relative
}

.hidden-menu.fixed-ribbon #ribbon {
    left: 10px
}

.fixed-navigation #left-panel {
    height: 100%;
    position: fixed
}

.fixed-navigation nav {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 49px
}

.fixed-navigation nav>ul {
    padding-right: 15px;
    position: relative;
    height: 100%;
    width: 114%;
    overflow-x: hidden;
    overflow-y: scroll
}
nav>ul>li>ul>li>a,
nav>ul>li>ul>li>ul>li>a {
    padding-top: 7px;
    padding-bottom: 7px
}

nav ul li a.inactive,
nav ul li a.inactive:hover {
    opacity: .5;
    cursor: not-allowed;
    color: #c0bbb7
}

nav ul span.menu-item-parent {
    display: inline-block;
    margin: 0;
    padding: 0
}

nav ul li.open>a {
    color: #fff!important
}

nav>ul>li>a>i {
    margin-right: 5px;
    width: 15px;
    display: inline-block;
    text-align: center;
    position: relative
}

nav>ul>li>a>i>em {
    font-size: 9px;
    display: block;
    padding: 2px;
    position: absolute;
    top: -8px;
    right: -6px;
    text-decoration: none;
    font-style: normal;
    background: #ed1c24;
    color: #fff;
    min-width: 13px;
    border-radius: 50%;
    max-height: 13px;
    line-height: 8px;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1)
}

nav ul li li {
    border-bottom: none;
    position: relative
}

nav>ul ul li a i {
    font-size: 14px!important;
    width: 18px!important;
    text-align: center!important;
    vertical-align: 0!important;
    line-height: 1!important
}

nav>ul>li:hover>ul::before,
nav>ul>li:hover>ul>li::before {
    border-color: #acacac!important
}

nav ul ul ul {
    background: 0 0;
    padding: 0
}

nav ul ul li {
    margin: 0;
    padding: 0
}

nav ul ul li>a {
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    outline: 0
}

nav ul ul li>a:hover {
    background-color: #253340;
    color: #fff
}

nav ul ul ul li a {
    color: #bfbfbf;
    padding: 8px 10px 8px 60px;
    font-size: 14px
}

nav ul ul ul li a:hover {
    color: #fff
}

nav ul ul ul ul li a {
    padding-left: 80px
}

nav ul ul ul ul ul li a {
    padding-left: 100px
}

nav ul ul ul ul ul ul li a {
    padding-left: 120px
}

.header-dropdown-list {
    list-style: none;
    float: right;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0
}

.header-dropdown-list>li {
    display: inline-block;
    padding-right: 5px
}

.header-dropdown-list>li>.dropdown-toggle {
    margin-top: 16px;
    display: block
}

.panel-group .panel {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.form fieldset {
    display: block;
    border: none;
    background: rgba(255, 255, 255, .9);
    position: relative
}

fieldset {
    position: relative
}

.form-actions {
    display: block;
    padding: 13px 14px 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: rgba(249, 249, 249, .9);
    margin-top: 25px;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: -13px;
    text-align: right
}

.well .form-actions {
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: -19px
}

.well.well-lg .form-actions {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px
}

.well.well-sm .form-actions {
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: -9px
}

.no-padding .form .form-actions {
    margin: 0;
    display: block;
    padding: 13px 14px 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
    text-align: right;
    margin-top: 25px
}

.no-padding .form header {
    margin: 25px 14px 0
}

.form header:first-child {
    margin-top: 10px
}

.form .form-group:last-child,
.form .form-group:last-child .note,
.form fieldset .form-group:last-child,
.form fieldset .form-group:last-child .note {
    margin-bottom: 0
}

.note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999
}

.input-icon-right {
    position: relative
}

.input-icon-left>i,
.input-icon-right>i {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 16px;
    color: #bfbfbf
}

.input-icon-left>i {
    right: auto;
    left: 24px
}

.input-icon-right .form-control {
    padding-right: 27px
}

.input-icon-left .form-control {
    padding-left: 29px
}

.input-group-addon .checkbox,
.input-group-addon .radio {
    min-height: 0;
    margin-right: 0!important;
    padding-top: 0
}

.input-group-addon label input[type=checkbox].checkbox+span,
.input-group-addon label input[type=checkbox].checkbox+span:before {
    margin-right: 0
}

.well {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative
}

.well.well-light {
    background: #fff;
    border: 1px solid #e2e2e2
}

.well.transparent {
    border: none!important;
    background: 0 0!important
}

.well[class*=" bg-"],
.well[class^=bg-] {
    border: 1px solid #555!important
}

.nav-tabs>li>a .badge {
    font-size: 11px;
    padding: 3px 5px;
    opacity: .5;
    margin-left: 5px;
    min-width: 17px;
    font-weight: 400
}

.nav-tabs>li>a>.fa {
    opacity: .5
}

.tabs-left .nav-tabs>li>a .badge {
    margin-right: 5px;
    margin-left: 0
}

.nav-tabs>li>a .label {
    display: inline-block;
    font-size: 11px;
    margin-left: 5px;
    opacity: .5
}

.nav-tabs>li.active>a .badge,
.nav-tabs>li.active>a .label,
.nav-tabs>li.active>a>.fa {
    opacity: 1
}

.nav-tabs>li>a {
    border-radius: 0;
    color: #333
}

.tabs-left .nav-pills>li.active>a {
    border: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important
}

.tabs-right .nav-tabs>li.active>a {
    -webkit-box-shadow: 2px 0 0 #57889c;
    -moz-box-shadow: 2px 0 0 #57889c;
    box-shadow: 2px 0 0 #57889c;
    border-top-width: 1px!important;
    border-right: none!important;
    margin-right: 1px!important
}

.tabs-below .nav-tabs>li.active>a {
    -webkit-box-shadow: 0 2px 0 #57889c;
    -moz-box-shadow: 0 2px 0 #57889c;
    box-shadow: 0 2px 0 #57889c;
    border-bottom-width: 0!important;
    border-top: none!important;
    margin-top: 0!important
}

.tabs-left>.nav-pills>li,
.tabs-left>.nav-tabs>li,
.tabs-right>.nav-pills>li,
.tabs-right>.nav-tabs>li {
    float: none
}

.tabs-left>.nav-pills>li>a,
.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-pills>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px
}

.tabs-left>.nav-pills,
.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd
}

.tabs-left>.nav-pills {
    border-right: none
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px
}

.tabs-left>.nav-tabs>li>a:focus,
.tabs-left>.nav-tabs>li>a:hover {
    border-color: #eee #d5d5d5 #eee #eee
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:focus,
.tabs-left>.nav-tabs .active>a:hover {
    border-color: #d5d5d5 transparent #d5d5d5 #ddd
}

.tabs-left>.tab-content {
    margin-left: 109px
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px
}

.tabs-right>.nav-tabs>li>a:focus,
.tabs-right>.nav-tabs>li>a:hover {
    border-color: #eee #eee #eee #ddd
}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:focus,
.tabs-right>.nav-tabs .active>a:hover {
    border-color: #ddd #ddd #ddd transparent
}

.tabs-below>.nav-tabs,
.tabs-left>.nav-tabs,
.tabs-right>.nav-tabs {
    border-bottom: 0
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd
}

.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0
}

.tabs-below>.nav-tabs>li>a:focus,
.tabs-below>.nav-tabs>li>a:hover {
    border-top-color: #ddd;
    border-bottom-color: transparent
}

.tabs-below>.nav-tabs>.active>a,
.tabs-below>.nav-tabs>.active>a:focus,
.tabs-below>.nav-tabs>.active>a:hover {
    border-color: transparent #ddd #ddd
}

.nav-tabs.bordered {
    background: #fff;
    border: 1px solid #ddd
}

.nav-tabs.bordered>:first-child a {
    border-left-width: 0!important
}

.nav-tabs.bordered+.tab-content {
    border: 1px solid #ddd;
    border-top: none
}

.tabs-pull-right.nav-pills>li,
.tabs-pull-right.nav-tabs>li {
    float: right
}

.tabs-pull-right.nav-pills>li:first-child>a,
.tabs-pull-right.nav-tabs>li:first-child>a {
    margin-right: 1px
}

.tabs-pull-right.bordered.nav-pills>li:first-child>a,
.tabs-pull-right.bordered.nav-tabs>li:first-child>a {
    border-left-width: 1px!important;
    margin-right: 0;
    border-right-width: 0
}

#logo-group *,
.login-info,
.login-info * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.hidden-desktop {
    display: none!important
}

.dropdown-menu-xs {
    min-width: 37px
}

.dropdown-menu-xs>li>a {
    padding: 3px 10px
}

.dropdown-menu-xs>li>a:hover i {
    color: #fff!important
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-width: 1px
}

.no-padding>.table-bordered,
.no-padding>.table-responsive>.table-bordered {
    border: none!important
}

.no-padding>.table-bordered tbody tr td:first-child,
.no-padding>.table-bordered thead tr td:first-child,
.no-padding>.table-bordered thead tr th:first-child,
.no-padding>.table-responsive>.table-bordered tbody tr td:first-child,
.no-padding>.table-responsive>.table-bordered thead tr td:first-child,
.no-padding>.table-responsive>.table-bordered thead tr th:first-child {
    border-left-width: 0!important
}

.no-padding>.table-bordered tbody tr td:last-child,
.no-padding>.table-bordered thead tr th:last-child,
.no-padding>.table-responsive>.table-bordered tbody tr td:last-child,
.no-padding>.table-responsive>.table-bordered thead tr th:last-child {
    border-right-width: 0!important
}

.no-padding>.table-bordered tbody tr:last-child td,
.no-padding>.table-responsive>.table-bordered tbody tr:last-child td {
    border-bottom-width: 0!important
}

.no-padding .table-responsive .table {
    margin-bottom: 0
}

.smart-form.table td .checkbox i,
.smart-form.table td .radio i,
.smart-form.table th .checkbox i,
.smart-form.table th .radio i {
    top: 0!important
}

.show-stats .progress {
    height: 7px;
    border-radius: 0;
    margin-top: 3px;
    margin-bottom: 15px
}

.show-stats {
    padding-top: 6px!important
}

.client-form header {
    padding: 15px 13px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9)
}

.pagination.pagination-alt>li>a {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    margin-left: -1px
}

.pagination.pagination-alt>li:first-child>a {
    padding-left: 0
}

.pagination>li>a,
.pagination>li>span {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05)
}

.disabled {
    color: #fff
}

.btn-default.disabled {
    color: #999
}

.btn:active {
    position: relative;
    top: 1px;
    left: 1px
}

.btn.btn-ribbon {
    background-color: #707070;
    background-image: -moz-linear-gradient(top, #777, #666);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#666));
    background-image: -webkit-linear-gradient(top, #777, #666);
    background-image: -o-linear-gradient(top, #777, #666);
    background-image: linear-gradient(to bottom, #777, #666);
    background-repeat: repeat-x;
    color: #fff;
    padding: 0 5px;
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
    display: block;
    border: none;
    float: left;
    margin: 0 8px 0 0;
    cursor: pointer
}

.btn.btn-ribbon>i {
    font-size: 111%
}

.panel-greenLight {
    border-color: #71843f
}

.panel-greenLight>.panel-heading {
    color: #fff;
    background-color: #71843f;
    border-color: #71843f
}

.panel-blueDark {
    border-color: #4c4f53
}

.panel-blueDark>.panel-heading {
    color: #fff;
    background-color: #4c4f53;
    border-color: #4c4f53
}

.panel-footer>.btn-block {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, .15);
    border-radius: 3px 0 0 3px
}

.btn-link {
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px
}

.nav-demo-btn {
    background-color: rgba(77, 118, 134, .5);
    border-color: #3a7775
}

.nav-demo-btn:active,
.nav-demo-btn:hover {
    background-color: rgba(77, 118, 134, .7);
    border-color: #3a7775
}

#left-panel {
    -webkit-transition: 250ms cubic-bezier(.1, .57, .1, 1);
    transition: 250ms cubic-bezier(.1, .57, .1, 1);
    -webkit-transform: translate(0, 0) translateZ(0)
}

.hidden-menu #left-panel {
    left: -210px;
    z-index: 903
}

.hidden-menu #main {
    margin-left: 10px
}

.hidden-menu #left-panel:hover {
    left: 0
}

.btn-header.pull-right {
    margin-left: 6px
}

.btn-header a>span {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    display: inline-block
}

.btn-header>:first-child>a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default!important;
    display: inline-block;
    font-weight: 700;
    height: 30px;
    line-height: 24px;
    min-width: 30px;
    padding: 2px;
    text-align: center;
    text-decoration: none!important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #6d6a69;
    font-size: 17px;
    margin: 10px 0 0
}

.btn-header>:first-child>a:hover {
    border: 1px solid #bfbfbf;
    color: #222;
    transition: all 0s;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08)
}

.btn-header>:first-child>a:active {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(100%, #ededed));
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -ms-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: linear-gradient(to bottom, #e8e8e8 0, #ededed 100%);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15)
}

.hidden-menu #hide-menu>:first-child>a {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #5a5a5a 0, #686868 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5a5a5a), color-stop(100%, #686868));
    background-image: -webkit-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: -o-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: -ms-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    color: #fff;
    border-color: #494949
}

.hidden-menu #hide-menu>:first-child>a:active {
    -webkit-box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .2)
}
.pagination-xs>li>a,
.pagination-xs>li>span {
    padding: 4px 9px;
    font-size: 12px
}

.notification-body *,
.notification-body:after *,
.notification-body:before * {
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important
}

.notification-body {
    padding: 0 0 0 3px;
    margin: 0;
    list-style: none
}

.notification-body>li {
    border-bottom: 1px solid #e9e9e9;
    position: relative
}

.notification-body>li>span {
    background: #fff;
    display: block;
    min-height: 25px;
    overflow: hidden;
    padding: 8px 10px 13px;
    white-space: normal
}

.notification-body>li>span:hover {
    background: #f0f4f7;
    color: #667f8f
}

.notification-body>li a,
.notification-body>li a span {
    display: block;
    position: relative;
    overflow: hidden
}

.notification-body>li a,
.notification-body>li a:hover {
    text-decoration: none
}

.notification-body>li:hover .progress {
    background: #fff;
    box-shadow: 0 1px 0 transparent, 0 0 0 1px #a7a7a7 inset;
    -webkit-box-shadow: 0 1px 0 transparent, 0 0 0 1px #ccc inset;
    -moz-box-shadow: 0 1px 0 transparent, 0 0 0 1px #fff inset
}

.notification-body>li:hover .text-muted {
    color: #333
}

.notification-body .subject {
    font-size: 13px;
    color: #a0a0a0;
    max-height: 35px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.notification-body .subject {
    font-size: 13px;
    color: #333;
    max-height: 22px
}

.tab-content.transparent {
    background-color: transparent
}
.header-btn {
    margin-top: 5px
}

.input-group .icon-addon .form-control {
    border-radius: 0
}

.icon-addon {
    position: relative;
    color: #555;
    display: block
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " "
}

.icon-addon:after {
    clear: both
}

.icon-addon .fa,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon.addon-md .glyphicon {
    position: absolute;
    z-index: 2;
    left: 10px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px
}

.input-group-lg .icon-addon.addon-lg+.input-group-btn>.btn {
    height: 46px
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px
}

.icon-addon .form-control,
.icon-addon.addon-md .form-control {
    padding-left: 30px;
    float: left;
    font-weight: 400
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus+.fa,
.icon-addon .form-control:focus+.glyphicon,
.icon-addon:hover .fa,
.icon-addon:hover .glyphicon {
    color: #2580db
}

.icon-addon input:disabled+.fa,
.icon-addon input:disabled+.glyphicon,
.icon-addon select:disabled+.fa,
.icon-addon select:disabled+.glyphicon {
    color: #ccc
}

.progress-xs {
    height: 7px!important;
    line-height: 7px!important
}

.progress-sm {
    height: 14px!important;
    line-height: 14px!important
}

.progress-lg {
    height: 30px!important;
    line-height: 30px!important
}

.bar-holder:first-child {
    border-top: none
}

.bar-holder {
    padding: 18px 15px
}

.bar-holder .progress {
    margin: 0
}
.no-content-padding {
    margin: -10px -14px 0 -14px
}

.no-padding {
    padding: 0!important
}

.no-padding>table {
    border: none!important;
    margin-bottom: 0!important;
    border-bottom-width: 0!important
}

.no-padding-bottom {
    padding-bottom: 0!important
}

.padding-5 {
    padding: 5px!important
}

.padding-7 {
    padding: 7px!important
}

.padding-10 {
    padding: 10px!important
}

.padding-top-10 {
    padding-top: 10px!important
}

.padding-top-15 {
    padding-top: 15px!important
}

.padding-bottom-10 {
    padding-bottom: 10px!important
}

.padding-bottom-0 {
    padding-bottom: 0!important
}

.padding-top-0 {
    padding-top: 0!important
}

.no-padding>table tr td:last-child,
.no-padding>table tr th:last-child {
    border-right: none!important
}

.no-padding>table tr td:first-child,
.no-padding>table tr th:first-child {
    border-left: none!important
}

.font-xs {
    font-size: 85%!important
}

.font-sm {
    font-size: 95%!important
}

.font-md {
    font-size: 130%!important
}

.font-lg {
    font-size: 160%!important
}

.font-400 {
    font-size: 400%!important
}

.no-margin {
    margin: 0!important
}

.margin-top-5 {
    margin-top: 5px!important
}

.margin-top-10 {
    margin-top: 10px!important
}

.margin-bottom-5 {
    margin-bottom: 5px!important
}

.margin-bottom-10 {
    margin-bottom: 10px!important
}

.margin-right-5 {
    margin-right: 5px!important
}

.margin-top-0 {
    margin-top: 0!important
}

.margin-bottom-0 {
    margin-bottom: 0!important
}

.display-inline {
    display: inline-block!important
}

.text-align-center,
.text-center {
    text-align: center!important
}

.text-align-left,
.text-left {
    text-align: left!important
}

.text-align-right,
.text-right {
    text-align: right!important
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.checkbox input[type=checkbox].checkbox+span,
.checkbox-inline input[type=checkbox].checkbox+span {
    margin-left: -20px
}

.form-inline .checkbox input[type=checkbox].checkbox+span {
    margin-left: 0
}

.form-inline .checkbox {
    padding-left: 0
}
.square {
    display: block;
    float: left;
    margin-right: 10px;
    height: 20px;
    width: 20px
}

[class*=" bg-"],
[class^=bg-] {
    filter: none!important
}

.txt-color-blueDark {
    color: #4c4f53!important
}

.txt-color-greenLight {
    color: #71843f!important
}

.bg-color-blueDark {
    background-color: #4c4f53!important
}

.bg-color-greenLight {
    background-color: #71843f!important
}

.page-footer {
    height: 52px;
    padding: 15px 13px 0;
    padding-left: 233px;
    border-top: 1px solid #cecece;
    background: #2a2725;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0
}

.fixed-page-footer .page-footer {
    position: fixed;
    z-index: 901
}

.container.fixed-page-footer .page-footer {
    max-width: 1164px
}

.hidden-menu .page-footer {
    padding-left: 20px
}

@media (max-width:979px) {
    #main {
        width: 100%!important
    }
    .page-footer {
        padding: 15px 14px 0
    }
    body.container {
        border: none!important;
        width: 100%!important
    }
    .inbox-data-message>:first-child {
        height: 50px;
        overflow: hidden
    }
    .inbox-nav-bar {
        padding-left: 5px;
        padding-right: 5px
    }
    .inbox-data-message>:first-child>:first-child {
        display: block!important;
        font-size: 14px
    }
    .inbox-table-icon>:first-child {
        margin-top: 12px
    }
    #inbox-table .inbox-table-icon {
        padding-left: 10px!important
    }
    .header-search.pull-right {
        margin-left: 0
    }
    .visible-tablet {
        display: inline-block!important
    }
    .display-inline.hidden-tablet,
    .hidden-tablet {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:979px) {
    #main {
        margin-left: 0
    }
    #left-panel {
        left: -220px
    }
    #hide-menu>:first-child>a {
        margin-top: 9px;
        width: 40px
    }
    .btn-header a {
        margin-top: 9px!important;
        width: 40px!important
    }
    #hide-menu i {
        color: #6d6a69;
        font-size: 100%
    }
    .hidden-menu #hide-menu i {
        color: #fff
    }
    #hide-menu i::before {
        content: "\f0c9"
    }
    .hidden-menu #left-panel {
        left: 0
    }
    .hidden-menu #main {
        position: relative;
        left: 210px
    }
    .hidden-menu.fixed-ribbon #ribbon {
        left: 220px;
        width: 100%
    }
    .fixed-ribbon #ribbon {
        left: 0
    }
    .header-search>input[type=text] {
        margin-top: 9px
    }
}

@media (min-width:768px) and (max-width:880px) {
    #main {
        margin-left: 0;
        overflow-x: hidden
    }
    #left-panel {
        left: -220px
    }
    .no-content-padding {
        margin: 0 -14px!important
    }
    .inbox-nav-bar.no-content-padding {
        margin-top: -10px!important
    }
    #hide-menu>:first-child>a,
    .btn-header a {
        margin-top: 5px!important;
        width: 40px!important;
        height: 39px!important;
        line-height: 38px!important
    }
    #logo {
        margin-top: 10px
    }
    #logo img {
        width: 127px
    }
    .btn-header.transparent a {
        border: none!important;
        background: 0 0;
        margin-left: 0;
        width: 25px!important;
        box-shadow: none!important
    }
    .btn-header.transparent a:hover {
        color: #a90329
    }
    #hide-menu i {
        color: #6d6a69;
        font-size: 121%
    }
    .hidden-menu #hide-menu i {
        color: #fff
    }
    #hide-menu i::before {
        content: "\f0c9"
    }
    .hidden-menu #left-panel {
        left: 0
    }
    .hidden-menu #main {
        position: relative;
        left: 210px
    }
    .hidden-menu.fixed-ribbon #ribbon {
        left: 220px;
        width: 100%
    }
    .fixed-ribbon #ribbon {
        left: 0
    }
    .header-search>input[type=text] {
        margin-top: 9px
    }
}

@media (max-width:767px) {
    #main {
        margin-left: 0;
        overflow-x: hidden
    }
    #left-panel {
        left: -220px
    }
    #content,
    #ribbon {
        padding-left: 5px;
        padding-right: 5px
    }
    #header {
        padding-right: 5px
    }
    #logo {
        margin-left: 4px
    }
    .no-content-padding {
        margin: 0 -5px!important
    }
    .inbox-nav-bar.no-content-padding {
        margin-top: -10px!important
    }
    .btn-header.transparent a {
        border: none!important;
        background: 0 0;
        margin-left: 0;
        width: 25px!important;
        box-shadow: none!important
    }
    .btn-header.transparent a:hover {
        color: #a90329
    }
    #hide-menu>:first-child>a,
    .btn-header a {
        margin-top: 5px!important;
        width: 40px!important;
        height: 39px!important;
        line-height: 38px!important
    }
    #hide-menu>:first-child>a {
        width: 50px!important
    }
    #logo {
        margin-top: 10px
    }
    #logo img {
        width: 127px
    }
    #hide-menu i {
        color: #6d6a69;
        font-size: 121%
    }
    .hidden-menu #hide-menu i {
        color: #fff
    }
    #hide-menu i::before {
        content: "\f0c9"
    }
    .hidden-menu #left-panel {
        left: 0
    }
    .hidden-menu #main {
        position: relative;
        left: 210px
    }
    .hidden-menu.fixed-ribbon #ribbon {
        left: 220px;
        width: 100%
    }
    .fixed-ribbon #ribbon {
        left: 0
    }
    body.fixed-navigation.hidden-menu {
        overflow: hidden!important
    }
    .fixed-ribbon #content {
        padding-top: 52px
    }
    .header-search {
        display: none
    }
    #search-mobile {
        display: block
    }
    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }
    .search-mobile .header-search>input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }
    .search-mobile .header-search>button {
        height: 29px;
        line-height: 29px;
        background: #ddd;
        right: 44px
    }
    .search-mobile #search-mobile {
        display: none
    }
}

@media only screen and (min-width:0) and (max-width:679px) {
    #main {
        margin-left: 0;
        overflow-x: hidden
    }
    #left-panel {
        left: -220px
    }
    #content,
    #ribbon {
        padding-left: 5px;
        padding-right: 5px
    }
    #header {
        padding-right: 5px
    }
    #logo {
        margin-left: 4px
    }
    .no-content-padding {
        margin: 0 -5px!important
    }
    .inbox-nav-bar.no-content-padding {
        margin-top: -10px!important
    }
    #header {
        background: #fff
    }
    #ribbon {
        border-bottom: 1px solid #cfcfcf;
        border-top: 1px solid #e6e6e6;
        background: #f5f5f5
    }
    #ribbon .breadcrumb,
    #ribbon .breadcrumb a {
        color: #6d6c6c!important
    }
    #ribbon .breadcrumb li:last-child,
    #ribbon .breadcrumb>.active {
        color: #333!important
    }
    #hide-menu>:first-child>a,
    .btn-header a {
        margin-top: 5px!important;
        width: 40px!important;
        height: 39px!important;
        line-height: 38px!important
    }
    #hide-menu>:first-child>a {
        width: 50px!important
    }
    #logo {
        margin-top: 10px
    }
    #logo img {
        width: 127px
    }
    .btn-header.transparent a {
        border: none!important;
        background: 0 0;
        margin-left: 0;
        width: 25px!important;
        box-shadow: none!important
    }
    .btn-header.transparent a:hover {
        color: #a90329
    }
    #hide-menu i {
        color: #6d6a69;
        font-size: 121%
    }
    .hidden-menu #hide-menu i {
        color: #fff
    }
    #hide-menu i::before {
        content: "\f0c9"
    }
    .hidden-menu #left-panel {
        left: 0
    }
    .hidden-menu #main {
        position: relative;
        left: 210px
    }
    .hidden-menu.fixed-ribbon #ribbon {
        left: 220px;
        width: 100%
    }
    .fixed-ribbon #ribbon {
        left: 0
    }
    .header-search {
        display: none
    }
    #search-mobile {
        display: block
    }
    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }
    .search-mobile .header-search>input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }
    .search-mobile .header-search>button {
        height: 29px;
        line-height: 29px;
        background: #ddd;
        right: 44px
    }
    .search-mobile #search-mobile {
        display: none
    }
    .hidden-tablet {
        display: none!important
    }
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .page-title {
        display: none
    }
    #main {
        margin-left: 0;
        overflow-x: hidden
    }
    #left-panel {
        left: -220px
    }
    #content,
    #ribbon {
        padding-left: 5px;
        padding-right: 5px
    }
    #logo {
        margin-left: 4px
    }
    .no-content-padding {
        margin: 0 -5px!important
    }
    .inbox-nav-bar.no-content-padding {
        margin-top: -10px!important
    }
    #ribbon {
        border-bottom: 1px solid #cfcfcf;
        border-top: 1px solid #e6e6e6;
        background: #f5f5f5
    }
    #ribbon .breadcrumb,
    #ribbon .breadcrumb a {
        color: #6d6c6c!important
    }
    #ribbon .breadcrumb li:last-child,
    #ribbon .breadcrumb>.active {
        color: #333!important
    }
    #logo {
        width: 135px
    }
    #logo-group {
        width: 169px!important
    }
    #hide-menu>:first-child>a,
    .btn-header a {
        margin-top: 5px!important;
        width: 40px!important;
        height: 39px!important;
        line-height: 38px!important
    }
    #logo {
        margin-top: 10px
    }
    #logo img {
        width: 127px
    }
    .btn-header.transparent a {
        border: none!important;
        background: 0 0;
        margin-left: 0;
        width: 25px!important;
        box-shadow: none!important
    }
    .btn-header.transparent a:hover {
        color: #a90329
    }
    #hide-menu>:first-child>a {
        width: 46px!important
    }
    #hide-menu i {
        color: #6d6a69;
        font-size: 121%
    }
    .hidden-menu #hide-menu i {
        color: #fff
    }
    #hide-menu i::before {
        content: "\f0c9"
    }
    .hidden-menu #left-panel {
        left: 0
    }
    .hidden-menu #main {
        position: relative;
        left: 210px
    }
    .hidden-menu.fixed-ribbon #ribbon {
        left: 220px;
        width: 100%
    }
    .fixed-ribbon #ribbon {
        left: 0
    }
    .hidden-mobile {
        display: none!important
    }
    .visible-mobile {
        display: inline-block!important
    }
    .ajax-dropdown {
        width: 299px;
        height: 320px;
        left: 0;
        top: 49px
    }
    .ajax-dropdown:before {
        margin-left: -14px
    }
    .ajax-dropdown:after {
        margin-left: -13px
    }
    .header-search {
        display: none
    }
    #search-mobile {
        display: block;
        margin-left: 0
    }
    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }
    .search-mobile .header-search>input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }
    .search-mobile .header-search>button {
        height: 29px;
        line-height: 29px;
        background: #ddd;
        right: 44px
    }
    .search-mobile #search-mobile {
        display: none
    }
}

#mobile-profile-img {
    display: none!important;
    padding-right: 2px!important;
    padding-left: 2px!important
}

#mobile-profile-img a.userdropdown img {
    width: 30px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 3px;
    border: 1px solid #797979!important
}
