.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(61, 106, 124, 0.15);
  border: 1px solid rgba(61, 106, 124, 0.2);
}

.show-grid {
  margin-bottom: 15px;
}
.mr60{
  margin-right: 60px;
}
.botoes-content {
  min-height: 350px;
}
/* HELPER CLASSES - MAIS USADAS PARA A CONSTRUCAO DO TEMPLATE */
.m10{
  margin: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mt10{
  margin-top: 10px;
}
.mr10{
  margin-right: 10px;
}
.ml10{
  margin-left: 10px;
}
.mb80{
  margin-bottom: 80px;
}
.mt80{
  margin-top: 80px;
}
.tooltips-content{
  text-align: center;
}
.labels-section{
  margin-bottom: 45px
}
.listas-title {
  text-align: center;
  width: 70%;
}
